body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff; 
    transition: background-color 0.3s ease; 
  }
  
  .dark-mode {
    background-color: #111; 
    color: #fff; 
  }
  
  .dark-mode-switch {
    width: 50px;
    height: 25px;
    background-color: #ddd; 
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .dark-mode-switch.active {
    background-color: #333; 
  }
  